@import "tailwindcss";

@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

.animate-dash {
  animation: dash 1s linear infinite;
}

/* Custom sleek dark scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #10121a;
}

::-webkit-scrollbar-thumb {
  background: #252a3a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #38415c;
}
